:root {
   --gray1: #919a9c;
	--blue1: #bee6ff;
	--blue2: #5db0e4;
	--blue3: #187fc3;
	--blue4: #2baeff;
	--blue5: rgb(0, 52, 84);
}

html{
    scroll-behavior: smooth;
}

body{
	background-color: #ffffff;
	margin: 0px 5% 0px 5%;
}

/*Nav Bar*/

.header-spacer { /*To take up the neessary space at top of page*/
	width: 100%;
	height: 70px;
	position: static;
}

header {
	width: 90%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #000000;
	position: fixed;
	background-color: #ffffff;
	z-index:100;
}
header h1{
	color: var(--blue5);
	font-weight: bold;
}

footer {
  height: 30px;
}

.nav {
	display: flex;
	justify-content: space-between;
	width: 400px;
}

.navlink {
	list-style: none;
	margin: 0;
}
.navlink a {
	text-decoration: none;
	font-size: 1.2em;
	color: var(--blue5);
	font-weight: bold;
}

.burger {
	font-size: 1.2em;
	display: none;
}

@media screen and (max-width: 650px) {
	/* Hide for now: not necessary
	
	.burger {
		display: block;
	}
	.nav {
		margin: 0;
		position: absolute;
		right: -100%;
		top: 70px;
		width: 50%;
		height: 70px;
		background-color: #ffffff;
		flex-direction: column;
		justify-content: space-around;
		padding: 0;
		transition: all 400ms;
    }
	.navlink {
		text-align: center;
	}*/
	.nav {
		margin: 0;
		position: absolute;
		right: -200%;
	}
	.nav-active {
		right: 0;
	}
}

/*Main Content*/

div {
  scroll-margin-top: 100px;
}

#bio-text{
	font-size: 22px
}

.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#about-me{
	flex-basis: 100%;
}

#about-photo img{
	width: 100%;
	min-width: 200px;
	border-radius: 25px;
}

#about-description h1{
	color: var(--blue5)
}

@media screen and (min-width: 650px) {
	#about-photo{
		flex-basis: 35%;
	}
	#about-description{
		flex-basis: 60%;
	}
}

@media screen and (max-width: 650px) {
	#about-photo{
		width: 35%;
		margin-left: 20px;
	}
	#about-description{
		width: 90%;
	}
}

.page-section h1{
	color: var(--blue5);
	margin-top: 30px;
}

#publications h3{
	font-size: 20px;
	margin: 15px 0px 10px 0px;
}

#publications ul{
	font-size: 18px;
	line-height: 18pt;
}

#publications li{
	margin-bottom: 10px;
}

#publications a{
	text-decoration: none;
	color: var(--blue2);
	display: inline-block;
	transition: transform 0.5s;
}
#publications a:hover{
	color: var(--blue3);
	transform: translateY(-3px);
}


/*Socials*/

.socials{
	margin-top: 30px;
}
.socials a{
	text-decoration: none;
	font-size: 30px;
	margin-right: 15px;
	color: var(--gray1);
	display: inline-block;
	transition: transform 0.5s;
}
.socials a:hover{
	color: var(--blue2);
	transform: translateY(-5px);
}

/*Cards*/

#cards-exp{
    padding: 30px 0;
}

.cards-exp{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}
.cards-exp div{
    background: var(--blue1);
    padding: 0px 20px 0px 20px ;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.cards-exp h3{
   font-size: 24px;
	padding: 0px;
   margin : 10px 0px 5px 0px;
}

.cards-exp h4{
   font-size: 20px;
	padding: 0px;
   margin : 5px 0px 5px 0px;
}

.cards-exp h5{
   font-size: 18px;
	padding: 0px;
   margin : 5px 0px 5px 0px;
}

.cards-exp p{
   font-size: 18px;
	padding: 0px;
   margin : 5px 0px 10px 0px;
}

.cards-exp div:hover{
    background: var(--blue2);
    transform: translateY(-5px);
	 z-index:0;
}

#cards-proj{
    padding: 30px 0;
}

.cards-proj{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}

.cards-proj div{
    background: var(--blue1);
    padding: 20px 20px 20px 10px ;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.cards-proj h3{
   font-size: 24px;
	padding: 0px;
   margin : 10px 0px 5px 0px;
}

.cards-proj p{
   font-size: 18px;
	padding: 0px;
   margin : 5px 0px 10px 0px;
}

.cards-proj div:hover{
    background: var(--blue2);
    transform: translateY(-5px);
	z-index: 0;
}

.cards-proj img {
  height: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-git {
   font-size: 24px;
	color: #000000;
	text-decoration: none;
}